AZURE_SPEECH_KEY=your_azure_speech_key
AZURE_SPEECH_REGION=koreacentral
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_VOICE_ID_BALANCED=your_balanced_voice_id
ELEVENLABS_VOICE_ID_DEEP=your_deep_trusted_voice_id
